.sourceCode .at, code {
    color: #e8aafb;
    background-color: rgba(169, 169, 169, 0.194)!important;
    font-weight: normal;
  }

  
  h1, h4, .foreground {
    position: relative;
    z-index: 2; /* Ensure these are on top */
  }
  